<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "/static/css/dashboard.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/12e4489aef.js" crossorigin="anonymous"></script>
    <title>CMS | Dashboard</title>
</head>
<body>
<%- include('../components/sidebar'); %>
<div class="container">
    <div class="header">
        <h4>Administrator Dashboard</h4>
        <i class="fa-solid fa-house-user"></i> / Dashboard
    </div>
    <div class="page-contents">
        <ul id="components">

            <li>
                <div id="title">Username</div>
                <i class="fa-solid fa-user"></i>
                <%= name %>
            </li>
            <li>
                <div id="title">Role</div>
                <i class="fa-solid fa-clipboard-user"></i>
                <%= role %>
            </li>
        </ul>
    </div>
</div>
</body>
</html>