<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "/static/css/login.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/12e4489aef.js" crossorigin="anonymous"></script>
    <title>CMS | Log In</title>
</head>
<body>
<div class="container">
    <div class="center">
        <h1>Login</h1>
        <label>
            <input id="email" type="text" placeholder="Email">
        </label>
        <label>
            <input id="password" type="password" placeholder="Password">
        </label>
        <button id="submit" type="button">Log In</button>
    </div>
    <script src="/static/scripts/login.js" rel="script"></script>
</div>
</body>
</html>