<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "/static/css/profile.css" rel="stylesheet" type="text/css" />
    <title>CMS | CSR Profile</title>
</head>
<body>
<%- include('../components/sidebar'); %>
<%- include('../components/header', {title: 'CSR Profile'}) %>
<div class="container">
    <h3>Change your username</h3>

    <label>
        <input id="username" type="text" placeholder="Username"/>
    </label>
    <button id="submit">Submit</button>

    <div id="response"></div>

    <script src="/static/scripts/profile.js"></script>
</div>
</body>
</html>