<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "/static/css/users.css" rel="stylesheet" type="text/css" />
    <title>CMS | Users</title>
</head>
<body>
<%- include('../components/sidebar'); %>
<div id="container">
    <%- include('../components/header', {title: 'User Management'}) %>
    <div id="page-contents">
        <label for="query-type" id="query-type-label"></label>
        <select name="query-type" id="query-type">
            <option value="name">Name</option>
            <option value="email">Email Address</option>
            <option value="phone">Phone Number</option>
            <option value="address">Address</option>
        </select>
        <label>
            <input type="text" id="query" placeholder="Query">
        </label>
        <button id="submit" name="submit">Submit</button>
    </div>

    <ul id="elements"></ul>
    <script src="/static/scripts/users.js"></script>
</div>
</body>
</html>