@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right,#23868f,#869f0a);
}

.container {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
}

.container .center {
    display: block;
    background: white;

    height: 300px;
    width: 400px;

    border-radius: 10px;
    border-bottom-color: #2A4494;
}

.center .login-text {
    text-align: center;
    padding: 0 0 20px;

    border-bottom: 1px solid silver;
}

.center p {
    color: red;
    visibility: hidden;
}

.center input {
    display: block;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    border-width: 0;
    border-bottom: 2px solid lightgray;

    width: 85%;
    height: 25px;
}

.center input:focus {
    outline-color: lightgray;
}
.center button {
    width: 200px;
    height: 40px;

    color: white;

    border-radius: 8px;
    border-color: transparent;

    margin-top: 20px;

    background: #0096FF;
}

.center button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}