body {
    margin: 0;
}

#page-contents {
    margin-left: 205px;
}

#page-contents input {
    border-radius: 5px;
    border-color: darkgray;

    color: black;

    width: 200px;
    height: 30px;

    font-family: 'Open Sans', sans-serif;
}

#page-contents button {
    border-radius: 5px;
    border-color: darkgray;

    color: black;

    width: 100px;
    height: 30px;

    font-family: 'Open Sans', sans-serif;
}