@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
}

#page-contents {
    margin-left: 200px;
}

select {
    border-radius: 5px;
    border-width: 3px;

    margin-top: 5px;

    width: 200px;
    height: 30px;

    color: black;

    font-family: 'Open Sans', sans-serif;
}

input {
    border-radius: 5px;
    border-width: 3px;
    border-color: darkgray;

    width: 400px;
    height: 30px;

    color: black;

    font-family: 'Open Sans', sans-serif;
}

button {
    border-radius: 5px;
    border-color: darkgray;

    color: black;

    width: 100px;
    height: 30px;

    font-family: 'Open Sans', sans-serif;
}

#elements {
    margin-left: 200px;
}