@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    background: #224870;

    width: 200px;
    height: 100%;
}

.wrapper .sidebar h2 {
    color: #ffffff;

    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: rgba(255, 255, 255, .75);
    display: block;
}

.wrapper .sidebar ul li .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #2A4494;
}

.wrapper .sidebar ul li:hover a{
    color: #ffffff;
}