<link href= "/static/css/components/header.css" rel="stylesheet" type="text/css" />

<div class="header">
    <h4>Administrator Dashboard</h4>
    <i class="fa-solid fa-house-user"></i> / <span id="title"><%= title %></span>
</div>