<link href= "/static/css/components/sidebar.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
    <div class="sidebar">
        <h2>Admin Portal</h2>
        <ul>
            <li><a href="/dashboard"><i class="fa-solid fa-house-user"></i> Home</a></li>
            <li><a href="/profile"><i class="fa-solid fa-address-card"></i> Profile</a></li>
            <li><a href="/tickets"><i class="fa-solid fa-ticket"></i> Tickets</a></li>
            <li><a href="/users"><i class="fa-solid fa-users"></i> Manage Users</a></li>
            <li><a href="/admin"><i class="fa-solid fa-lock"></i> Admin Panel</a></li>
        </ul>
    </div>
</div>
